/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 45 Light";
    font-weight: 300;
    src: url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/IHUhzH7E1JHSl0ymlvbEc.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/NpXLXrEUotTIiVcy318_w.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 55 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/C21w5zPy0p8hvorcLTqUs.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/1fut-UyMpQTMOfOnSBacr.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 65 Medium";
    font-weight: 500;
    src: url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/43xSR1Lhx7iXhsMJVzXP8.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/bMGPBsdbZANdLS-VwYUc0.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 75 SemiBold";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/gAKJlc18Ow3y5lmW6alje.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/sVEqlFYI5uHHlrZlMjXJU.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体 2.0 85 Bold";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/WGTwkKvu4LtRhJJRiUXi5.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/VcTEvyQ7GqSW/UsPplOc2b7dp0OG8iGW4z.woff") format("woff");
    font-display: swap;
}