// sidebar
$menuText: #666666;
$menuActiveText: #1C9399;
$subMenuActiveText: #1C9399;
//https://github.com/ElemeFE/element/issues/12951

$mainBg: #F7FAF8;
$menuBg: #ffffff;
$menuHover: #d7f3f5;

$subMenuBg: #ffffff;
$subMenuHover: #d7f3f5;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  mainBg: $mainBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}