// sidebar
$menuText: #666666;
$menuActiveText: #295083;
$subMenuActiveText: #222222;
//https://github.com/ElemeFE/element/issues/12951

$menuBg: #ffffff;
$menuHover: #e9edf2;

$subMenuBg: #ffffff;
$subMenuHover: #e9edf2;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}